{% extends 'base.html.twig' %}

{% block body %}
<!-- First Container -->
<div class="container-fluid bg-4 text-center">
    <h3 class="margin"> Bonjour {{ app.user.username }}</h3>
    <img src="https://via.placeholder.com/150" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>I'm an adventurer</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div>

{% endblock %}